{% load static %}

<!-- <body> -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light navv " style="background-color: #FFD65B;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav active">
            <li class="nav-item">
                <a class="nav-link hlo active" href="{{STATIC_URL}}/">Homepage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{STATIC_URL}}/#aboutMe">About Me <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{STATIC_URL}}/#experience">Experience <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{STATIC_URL}}/#education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{STATIC_URL}}/#skill">Skill</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{STATIC_URL}}/#contact">Contact</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link hlo" href="/myTop3/">MyTop3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hlo" href="/story5/">Jadwal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{STATIC_URL}}/story6/">Kegiatan</a>
            </li> -->
        </ul>
        
    </div>
</nav>
