{% extends 'base.html' %}
{% load static %}

{% block headone %}
<title>Kegiatan</title>
<link rel="stylesheet" href="{% static '/css/story6.css' %}">
{% endblock %}

{% block body %}
{% include 'navbar.html' %}

<!-- judul -->
<div class="atass">
    <h1 class="judul">Daftar Kegiatan</h1>
</div>

<!-- tambah kegiatan -->
<div style="margin-right: 55px; margin-left: 50px; margin-bottom: 40px;">
    <form id="form" method="POST" action="/story6/submit-kegiatan" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group" style="font-weight: bold;">
            {{ forms.form_kegiatan.as_p }}
        </div>
        <br>
        <button type="submit" class="btn btn-warning rounded-pill" id="bton">Tambah Kegiatan</button>
    </form>
</div>

<!-- kumpulan card kegiatan -->
<div class="row">
    {% for kegiatan in data.kegiatan %}

    <div class="col-md-4 mb-4">
        <div class="card" style="max-width: 18rem; text-align: center; margin: 0 auto; float: none; margin-bottom: 10px;">
            <!-- card header -->
            <div class="card-header" style="font-weight: bold; background-color: #000000;">
                <h5 class="card-title" style="color: white; font-weight: bold;">{{ kegiatan.nama }} </h5>
            </div>

            <!-- list pendaftar -->
            <div class="card-body">
                <p style="font-weight: bold;">Pendaftar:</p>

                {% for pendaftar in data.pendaftar %}
                <ul class="list-group list-group-flush">
                    {% if pendaftar.kegiatan.nama == kegiatan.nama %}
                    <li  class=" list-group-item"> {{ pendaftar.nama }}</li>
                    {% endif %}
                </ul>
                {% endfor %}
            </div>

            <!-- formulir pendaftar -->
            <form id="form" method="POST"  action="/story6/submit-pendaftar/{{ kegiatan.id }}"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group" style="padding: 5px; background-color: rgb(255, 238, 182);" >
                    {{ forms.form_pendaftar.as_p }}
                </div>
                <br>
                <button type="submit" class="btn btn-warning rounded-pill" id="bton">Tambah Pendaftar</button>
                <div style="height: 5px;"></div>
            </form>
            <!-- hapus kegiatan -->
            <a href="/story6/delete/{{ kegiatan.nama }}" style="padding-bottom: 50px;">
                <button type="submit" class="btn btn-warning rounded-pill">Hapus Kegiatan</button>
            </a>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}