
body {
    background: #FFFBF6;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    font-size: 16px;
    margin-right: 0;
    
}

/* navbar */
.nav-item{
    margin-left:0.563rem;
    margin-top: 0.438rem;
    font-size: 1.188rem;
    
}


/* about me */
.nama {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 110%;
    font-size: 5.938rem;
    text-align: right;
    color: #000000;
    margin-right: 10px;
    
}

 #jargon {
     color: #D8AC50;
     font-size: 1.5rem;
     margin-right: 10px;
 }

.deskripsi {
    font-size: 1.375rem; 
    margin-right: 6.25rem;
    margin-left: 2.5rem;
    margin-top: 14.84375vw;
}


.container {
    position: relative;
}

.top-left {
    position: absolute;
    top: 0.5rem;
    left: 6.250vw;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 110%;
    font-size: 5.938rem;
    text-align: left;
    color: #000000;
    margin-left: 4.688vw;
  }

.gambaraboutme {
    margin-left: 13.672vw;
    margin-top: 6.25rem;
}

*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h5
{
  margin:0rem;
  font-size:1.4em;
  font-weight:700;
}

p
{
  font-size:0.75rem;
}

.center
{
  height:29vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* experience */
.kuning {
    background: url("../images/kuning.png") no-repeat;
    background-size:cover; 
    background-position: center center;
}

.property-card {
  height:8em;
  width:14em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:1rem;
  overflow:hidden;
  box-shadow:  0.625rem 0.625rem 1.688rem #838383;
}

.property-image {
  height:6em;
  width:14em;
  padding:1em 2em;
  position:Absolute;
  top:0rem;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  
}

 
.image-1 {
  background: url("../images/1.png") no-repeat;
  background-size:cover;
  background-repeat:no-repeat;
}
.image-2 {
  background: url("../images/2.png") no-repeat;
  background-size:cover;
  background-repeat:no-repeat;
}
.image-3 {
  background: url("../images/3.png") no-repeat;
  background-size:cover;
  background-repeat:no-repeat;
}
.image-4 {
  background: url("../images/4.png") no-repeat;
  background-size:cover;
  background-repeat:no-repeat;
}
.image-5 {
  background: url("../images/5.png") no-repeat;
  background-size:cover;
  background-repeat:no-repeat;
}

.property-description {
  background-color: #FAFAFC;
  height:5em;
  width:14em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}

.property-card:hover .property-description {
  height:0em;
  padding:0 1em;
}
.property-card:hover .property-image {
  height:13em;
}


/* KELAR EXPERIENCE */
.judul {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 110%;
    font-size: 4.688rem;
    text-align: center;
    color: #000000;
    
}

.primary-button {
  margin-left: 10px;
}

/* education */
.hitam {
  
    background: #000000;
}

.fulltimeline {
    
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin: 0;
  padding: 6.25rem;
  box-sizing: border-box;
}

.timeline {
    width: 120%;
    background: #FFFBF6;
    padding: 6.25rem 3.125rem;
    margin-left: 3.906vw;
    position: relative;
  }
  .timeline:before {
    content: '';
    position: absolute;
    top: 0rem;
    left: 30%;
    bottom: 0rem;
    width: 0.313rem;
    background: #000000;
    margin-left: 5.5rem;
  }
  .entry {
    clear: both;
    text-align: left;
    position: relative;
  }
  .entry .title {
    margin-bottom: .5em;
    float: left;
    width: 33%;
    padding-right: 1.875rem;
    text-align: right;
    position: relative;
  }
  .entry .title:before {
    content: '';
    position: absolute;
    width: 1.063rem;
    height: 1.063rem;
    background-color: #FFD15B;
    border-radius: 100%;
    top: 15%;
    margin-left: 4.875rem;
    z-index: 99;
  }
  .entry .title h3 {
    margin: 0;
    font-size: 0.938rem;
  }
  .entry .title p {
    margin: 0rem;
    font-size: 100%;
  }
  .sekolah {
    font-size: 0.938rem;
  }
  .entry .body {
    margin: 0 0 3em;
    float: right;
    width: 66%;
  }
  .entry .body p {
    margin-left: 6.25rem;
    line-height: 1.4em;
    font-size: 0.938rem;
  }
  .entry .body p:first-child {
    margin-top: 0;
    font-weight: 400;
  }
  .entry .body ul {
    color: #aaa;
    padding-left: 0;
    list-style-type: none;
  }
  

  /* Skills */
  #skill {
    margin-right: 0;
  }
  .judulskill {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 110%;
    font-size: 4.688rem;
    color: #000000;
    margin-left: 7.8125vw;
}

.tombolskill {
    margin-left: 1.25rem;
}

.halo{
  font-size: medium;
  margin-left: 7.8125vw;
  margin-right: 7.8125vw;
  font-weight: bolder;
  font-size: 1.375rem;
  height: 4.375rem;
  width: 28.125rem;
  color: #000000;
}

/* contact */
.judulcontact {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 110%;
    font-size: 3.75rem;
    text-align: center;
    color: #000000;
    
}
#s-font {
    font-size: 1.563rem;
}

#s-font .row {
    margin: 0;
}

#s-font {
    
    font-size: 3rem;
    margin: 0;
    text-align: center;
}

.contact-img {
  width: 4.063rem;
  height: 4.063rem;
  margin-left: 1.375rem;
  margin-right: 1.375rem;
}

.cp {
    justify-content: center;
  align-items: center;
  display: flex;
}

/* new page */
.jumbotronbg {
  background: url("../images/jumbotron.png") no-repeat;
  background-size: cover;
  margin-bottom: 0rem;
  
}
.jumbotronjudul {
  background: none;
}




@media (max-width: 513px) {
  /* smartphones, iPhone, portrait 480x320 phones */

  body {
    background-color: #FFFBF6
  }
  .judul {
    font-size: 3.688rem;
  }
  .judulskill {
    font-size: 3.688rem;
  }
  .nama {
    font-size: 3.938rem;
  }
  #jargon {
    font-size: 1.2rem;

  }
  .deskripsi {
    font-size: 1.2rem;
  }
  .top-left {
    font-size: 3.688rem;
  }
  .tombol {
    width: 300px;
    height: 50px;
  }
  .contact-img {
    width: 4.063rem;
    height: 4.063rem;
    margin-left: 0.519vw;
    margin-right: 0.519vw;
  }
  .timeline {
    width: 115%;

  }

}
