<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>Story 1</title>
	<link rel="stylesheet" href="{% static '/css/style.css' %}">

</head>

<body>
	<nav id="mainNavbar" class="navbar fixed-top" style="background-color: cadetblue;">
		<a href="#" class="navbar-brand">My Profile</a>
		<a class="btn btn-warning" href="/story4" role="button">Go to Story 4</a>
		<!-- <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navLinks"> -->

		</div>
	</nav>

	<!-- baris pertama -->

	<div style="height: 20px;"></div>

	
	</div>

	<div class="row align-items-center">

		<!-- deskripsi diri -->
		<div class="col-lg-6">
			
			<div id="deskripsiDiri" class="text-center d-lg-block mt-5">
				<h1 class="">Halo semua!</h1>
				<p id="aku">Perkenalkan nama saya Fadiya Latifah! Saya adalah mahasiswi angkatan 2019
					yang mengambil jurusan Sistem Informasi di Fasilkom UI. Saya sangat suka belajar hal baru dan senang
					bila dapat bekerja dalam sebuah tim. Akhir-akhir ini saya sedang tertarik dengan dunia UX Design &
					Research dan akan terus menggali potensi lain yang ada dalam diri saya! </p>
			</div>
		</div>

		<!-- foto utama -->
		<div class="col-lg-6">
			<img class="img-fluid" src="{% static '/images/main.png' %}" alt="">
		</div>
	</div>


	<!-- baris kedua -->
	<div class="row align-items-center">
		<!-- foto pelengkap -->
		<div class="col-lg-5 order-2 order-md-1">
			<img class="img-fluid" src="{% static '/images/balon.png' %}" alt="">
		</div>

		<!-- content lengkap tentang saya -->
		<div class="col-lg-7 order-1 order-md-2" id="tombol">
			<!-- Button tentang saya -->
			<div class="card tombol" style="background-color: #FBBB5C;">
				<div class="card-header" id="buttonTentangSaya">
					<h2 class="mb-0" style="text-align: center">
						<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#isiTentangSaya"
							aria-expanded="true" aria-controls="isiTentangSaya" style="color: #FEF8E8; font-size: 24px">
							Tentang Saya
							<img src='{% static "/images/drop.png" %}' style="width: 30px">
						</button>
					</h2>
				</div>
			</div>
			<!-- Isi content tentang saya -->
			<div class="accordion" id="accordionExample" style="background-color: #E35147">
				<div id="isiTentangSaya" class="collapse" aria-labelledby="buttonTentangSaya"
					data-parent="#accordionExample">
					<div class="card-body">
						<div class="row" style="text-align: center; color: #FEF8E8">
							<div class="col">
								<h4 style="color: #f3bb68;">Riwayat Pendidikan</h4>
								<p>
									SDIT Thariq bin Ziyad<br>
									SMPIT Thariq bin Ziyad<br>
									SMAN 1 Tambun Selatan<br>
									Universitas Indonesia<br>
								</p>
							</div>
							<div class="col">
								<h4 style="color: #f3bb68;">Informasi Universitas</h4>
								<p>Mahasiswi Jurusan Sistem Informasi Fasilkom UI Angkatan 2019 dengan
									NPM 1906399442</p>
							</div>
							<div class="col">
								<h4 style="color: #f3bb68;">Kegiatan <br> yang disukai</h4>
								<h4></h4>
								<p>Suka melakukan hal yang menenangkan seperti mendengarkan musik dan juga
									melukis</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>


	<!-- jarak -->
	<div style="height: 100px;"></div>

	<!-- Daftar kontak -->
	<div class="container" id="daftarKontak">
		<div class="row">
			<div class="col">
				<a href="https://www.linkedin.com/in/fadiya-latifah-27b010194/" style="color: #FEF8E8">
					<img alt="Instagram" src='{% static "/images/linkedlnlogo.jpg" %}' class="contact"> Fadiya Latifah
				</a>

			</div>
			<div class="col">
				<a href="https://www.instagram.com/fadiyalatifah/" style="color: #FEF8E8">
					<img alt="Instagram" src='{% static "/images/iglogo.png" %}' class="contact"> Fadiyalatifah
				</a>
			</div>
			<div class="col">
				<a href="mailto:fadiyalatifah@gmail.com" style="color:#FEF8E8">
					<img src='{% static "/images/gmaillogo.png" %} ' class="contact"> Fadiyalatifah@gmail.com
				</a>
			</div>

		</div>
	</div>






	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>

</body>

</html>