{% extends 'base.html' %}
{% load static %}


{% block headone %}
<title>Jadwal Mata Kuliah</title>
<link rel="stylesheet" href="{% static '/css/story5.css' %}">
{% endblock %}


{% block body %}
{% include 'navbar.html' %}

<div class="details">
<p>{{ data.nama }}</p>
    {% for component in data %}
        <div class="details center">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th scope="row">Nama Mata Kuliah</th>
                    <td>{{ component.nama }}</td>
                </tr>
                <tr>
                    <th scope="row">Nama Dosen</th>
                    <td>{{ component.dosen }}</td>
                </tr>
                <tr>
                    <th scope="row">Jumlah SKS</th>
                    <td>{{ component.jumlahSks }}</td>
                </tr>
                <tr>
                    <th scope="row">Deskripsi</th>
                    <td>{{ component.deskripsi }}</td>
                </tr>
                <tr>
                    <th scope="row">Semester Tahun</th>
                    <td>{{ component.semesterTahun }}</td>
                </tr>
                <tr>
                    <th scope="row">Ruangan</th>
                    <td>{{ component.ruangKelas }}</td>
                </tr>

                </tbody>
            </table>
        </div>

        <div class="btndetails center">
            <a href="/story5">
                <button type="submit" class="btn btn-warning rounded-pill ">Back</button>
            </a>
            <a href="/story5/delete/{{ component.nama }}">
                <button type="submit" class="btn btn-warning rounded-pill">Delete</button>
            </a>
        </div>
    {% endfor %}

</div>

{% endblock %}

