{% extends 'base.html' %}
{% load static %}


{% block headone %}
<title>Jadwal Mata Kuliah</title>
<link rel="stylesheet" href="{% static '/css/story5.css' %}">
{% endblock %}


{% block body %}
{% include 'navbar.html' %}
<div class="atass">
    <h1 class="judul">Jadwal Mata Kuliah</h1>
    <div class="center">
        <a href="/story5/#tambahJadwal">
            <button class="btn btn-warning">Tambah Jadwal</button>
        </a>
    </div>
</div>

<!-- <div id="listmatkul">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Nama Donatur</th>
                <th scope="col">Jumlah Donasi</th>
            </tr>
        </thead>

        {% for component in data %}
        <tr>
            <td>
                {{ component.nama }}
            </td>
            <td>
                {{ component.dosen }}
            </td>
        </tr>
        {% endfor %}

    </table>
</div> -->


<div id="listmatkul">
    <table class="table table-dark table-bordered">
        <thead>
            <tr>
                <th scope="col">Mata kuliah </th>
                <th scope="col">Dosen</th>
                <th scope="col">Detail</th>
            </tr>
        </thead>

        {% for component in data %}
        <tr>
            <td>
                {{ component.nama }}
            </td>
            <td>
                {{ component.dosen }}
            </td>
            <td>
                <a class="btn btn-warning" href="/story5/{{ component.nama }}" role="button">Detail</a>
            </td>
        </tr>
        {% endfor %}

    </table>
</div>

<div style="height: 100px;"></div>

<div class="kuning" >
    <div id="tambahJadwal">
        <h3 class="judulskill">Tambah Jadwal</h3> <br>
        <form id="form" method="POST" action="/story5/post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form_tambah.as_p }}
            </div>
            <br>
            <button type="submit" class="btn btn-warning" id="bton">Tambah</button>
        </form>
    </div>
</div>

{% endblock %}