{% extends 'base.html' %}
{% load static %}


{% block headone %}
<title>My Top 3</title>
<link rel="stylesheet" href="{% static '/css/story2.css' %}">
{% endblock %}


{% block body %}
{% include 'navbar.html' %}

<section>
    <div style="height: 80px;">
    </div>
</section>

<section id="header" class="jumbotron text-center jumbotronbg">

    <div class="jumbotron jumbotron-fluid jumbotronjudul">
        <div class="container">
            <h1 class="judul" style="color:  #FFFBF6;;">My Top 3</h1>
            <p class="lead" style="color: #FFD15B;"> Is my favourite is your favourite too?</p>
        </div>
    </div>

</section>

<!-- musik -->
<section id="musik" class="kuning">
    <div class="container">
        <div style="height: 100px;"></div>
        <p class="judul">Top 3 Songs</p>
        <div style="height: 30px;"></div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src='{% static "/images/song1.png" %}' alt="">
                    <div class="card-body">
                        <h5 class="card-title">Your Dog Loves You</h5>
                        <p class="card-text">Colde</p>
                        <a href="https://open.spotify.com/track/2XdyebP7KxClMOse2C5iyA?si=9B0h5z46Ri-F71axJvIFMQ"
                            class="btn btn-outline-success btn-sm">Listen</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src='{% static "/images/song2.png" %}' alt="">
                    <div class="card-body">
                        <h5 class="card-title">Plaza Avanue</h5>
                        <p class="card-text">Ardhito Pramono</p>
                        <a href="https://open.spotify.com/track/2xZlgYdmv5ybdl8QomB1ZJ?si=3TzEpds_SKito48etBBN4g"
                            class="btn btn-outline-success btn-sm">Listen</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src='{% static "/images/song3.png" %}' alt="">
                    <div class="card-body">
                        <h5 class="card-title">Cigarette</h5>
                        <p class="card-text">offonoff</p>
                        <a href="https://open.spotify.com/track/14p5EKgbPx4U3P1j5JNHeh?si=vQzP6u0_Qx-peSLduTKknQ"
                            class="btn btn-outline-success btn-sm">Listen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 130px;"></div>

</section>


<!-- makanan -->

<section id="makanan">
    <div class="container ">
        <div style="height: 70px;"></div>
        <p class="judul">Top 3 Foods</p>
        <div style="height: 30px;"></div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src='{% static "/images/food1.png" %}' alt="">
                    <div class="card-body">
                        <h5 class="card-title">Chicken Wings</h5>
                        <p class="card-text">The best chicken wings goes toooooo wingstop! The best flavors is Lousiana
                            rub!! Other flavors I would recommend are lemon pepper, hickory bbq, and garlic parmesan!
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src='{% static "/images/food2.png" %}' alt="">
                    <div class="card-body">
                        <h5 class="card-title">Dimsum</h5>
                        <p class="card-text">Imperial kitchen is one of my favorite dimsum restaurants! You have to try
                            all of dim sum here because they are all delicious! Moreover, there are lots of monthly
                            promos</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src='{% static "/images/food3.png" %}' alt="">
                    <div class="card-body">
                        <h5 class="card-title">Grilled Beef</h5>
                        <p class="card-text">Among many ayce restaurants, Gyukaku is a Japanese BBQ which all the meat
                            choices are delicious! all the meat is very tender and there are many side dishes that go
                            well with the meat</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 130px;"></div>
</section>

<!-- boba -->

<section id="boba" class="hitam">
    <div class="container">
        <div style="height: 70px;"></div>
        <p class="judul" style="color: #FFFBF6;">Top 3 Boba</p>
        <div style="height: 30px;"></div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src='{% static "/images/boba1.png" %}' alt="">
                    <div class="card-body">
                        <h5 class="card-title">Xing Fu tang</h5>
                        <p class="card-text">Xing fu tang is the best boba ever! The pearls here are way better than
                            other boba brands. The pearls are less thick, less tapioca, but very springy and soft. The
                            brown sugar can be tasted not only on the surface but quite halfway into the pearls.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src='{% static "/images/boba2.png" %}' alt="">
                    <div class="card-body">
                        <h5 class="card-title">Xi Bo Ba</h5>
                        <p class="card-text">What is unique about xi bo ba is their salted caramel brown sugar fresh
                            milk. Brown sugar and boba is not too sweet, but it tastes salty! this gives a palatable
                            sensation. The price is also cheaper than boba with the same quality </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src='{% static "/images/boba3.png" %}' alt="">
                    <div class="card-body">
                        <h5 class="card-title">Kokumi</h5>
                        <p class="card-text">The taste of their Okinawa Brown Sugar and boba is not too strong nor
                            sweet. The main point I like most is their creamy milk that is very different from other
                            boba brand. It tastes like Walls rainbow ice cream but with a better version!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 130px;"></div>
</section>

<!-- kontak -->

<section>
    <div id="contact">
        <div style="background-color: #FFD15B;">
            <div style="height: 100px;"></div>
            <div id="footer" class="cp">
                <p>Fadiya Latifah © 2020</p>
            </div>
        </div>
    </div>

</section>






<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
{% endblock %}