{% extends 'base.html' %}
{% load static %}


{% block headone %}
<title>Fadiya Latifah</title>
<link rel="stylesheet" href="{% static '/css/story2.css' %}">
{% endblock %}


{% block body %}
{% include 'navbar.html' %}

<!-- HALAMAN AWAL -->
<div class="row align-items">
    <div class="col-lg-6">
        <!-- NAVBAR -->
        {% include 'navbar.html' %}
        <!-- NAMA DAN JARGON -->
        <div style="height: 10.59375vw;">
        </div>
        <div id="baris1" class="text-right d-lg-block mt-5 align-items-center">
            <div class="nama">Fadiya <br> Latifah</div>
            <p id="jargon">A person who loves learning new things </p>
        </div>

    </div>

    <!-- Foto halaman utama -->
    <div class="col-lg-6">
        <img class="img-fluid" src="{% static '/images/main_story2.png' %}" alt="">
    </div>
</div>

<!-- FITUR 1 : ABOUT ME -->
<div id="aboutMe">
    <div style="height: 4.375rem;"></div>
    <div class="row align-items" id="gambar-aboutme" );>

        <!-- tulisan + foto aboutme -->
        <div class="col-lg-5">
            <div class="container">
                <img class="gambaraboutme" alt="Instagram" style="width:63%" src='{% static "/images/aboutme.png" %}'>
                <div class="top-left">About<br> Me.</div>
            </div>
        </div>

        <!-- deskripsi diri -->
        <div class="col-lg-7 align-items-center">
            <div class="deskripsi">I’m a student at Information Systems Major in Universitas Indonesia. Hardworking, committed, honest, positive thinking, and a determined person is the closest word to describe me. It’s helped me to be more confident in all circumstances. I am interested in the field of UI, UX, project management, product, and business. </div>
        </div>
    </div>
    <div style="height: 23.4375vw;"></div>
</div>


<!-- FITUR 2 : EXPERIENCE -->
<div id="experience" class="kuning">
    <div style="height: 3.125rem;"></div>
    <div class="judul">Experience</div>
    <div style="height: 3.125rem;"></div>

    <!-- Card 1 -->
    <div class="center">
        <div class="property-card ">
            <a href="#">
                <div class="property-image image-1">
                    <div class="property-image-title"></div>
                </div>
            </a>
            <div class="property-description">
                <h5> Compfest </h5>
                <p>PIC UX Academy | 2021 <br> Staff of UX Academy | 2020</p>
               
            </div>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="center">
        <div class="property-card ">
            <a href="#">
                <div class="property-image image-5">
                    <div class="property-image-title"></div>
                </div>
            </a>
            <div class="property-description">
                <h5> Educare </h5>
                <p>PIC of Job Fair | 2021 <br> Staff of Job Fair | 2020</p>
            </div>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="center">
        <div class="property-card ">
            <a href="#">
                <div class="property-image image-2">
                    <div class="property-image-title"></div>
                </div>
            </a>
            <div class="property-description">
                <h5> BEM Fasilkom UI </h5>
                <p>Staff of Academic and Leadership Department | 2020 </p>
            </div>
        </div>
    </div>

    <!-- Card 4 -->
    <div class="center">
        <div class="property-card ">
            <a href="#">
                <div class="property-image image-3">
                    <div class="property-image-title"></div>
                </div>
            </a>
            <div class="property-description">
                <h5> DDP0 </h5>
                <p>Foundation of Programming 0 Mentor | 2020</p>
            </div>
        </div>
    </div>

    <!-- Card 5 -->
    <div class="center">
        <div class="property-card ">
            <a href="#">
                <div class="property-image image-4">
                    <div class="property-image-title"> </div>
                </div>
            </a>
            <div class="property-description">
                <h5> Perak 2020 </h5>
                <p>Staff of UX Academy | 2020</p>
            </div>
        </div>
    </div>

    
    <div style="height: 4.375rem;"></div>
</div>


<!-- FITUR 3 : EDUCATION -->
<div id="education" class="hitam align-items-center">
    <div style="height: 6.25rem;"></div>
    <div class="judul" style="color: #FFD15B;">Education</div>
    <!-- Timeline edukasi -->
    <div class="fulltimeline">
        <section>
            <div class="timeline">
                <div class="entry">
                    <div class="title">
                        <h3>2019 - Now</h3>
                    </div>
                    <div class="body">
                        <p>Universitas Indonesia</p>
                    </div>
                </div>
                <div class="entry">
                    <div class="title">
                        <h3>2016 - 2019</h3>
                    </div>
                    <div class="body">
                        <p>SMAN 1 Tambun Selatan</p>
                    </div>
                </div>
                <div class="entry">
                    <div class="title">
                        <h3>2009 - 2010</h3>
                    </div>
                    <div class="body">
                        <p>SMPIT Thariq bin Ziyad</p>
                    </div>
                </div>
                <div class="entry">
                    <div class="title">
                        <h3>2006 - 2008</h3>
                    </div>
                    <div class="body">
                        <p>SDIT Thariq bin Ziyad</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div style="height: 3.125rem;"></div>
</div>

<!-- FITUR 4 : SKILLS -->
<div id="skill">
    <div class="row justify-content-around align-items">
        <div class="col-md-6 col-lg-6 ">
            <!-- list skill -->
            <div style="height: 3.125rem;">
            </div class="tombolskill">
            <div id="baris5" class="  align-items-center">
                <div class="judulskill">Skills.</div>
            </div>
            <button type="button" class="btn btn-warning btn-lg btn-block halo rounded-pill tombol">Java</button>
            <button type="button" class="btn btn-warning btn-lg btn-block halo rounded-pill tombol">HTML</button>
            <button type="button" class="btn btn-warning btn-lg btn-block halo rounded-pill tombol">Figma</button>
            <button type="button" class="btn btn-warning btn-lg btn-block halo rounded-pill tombol">Python</button>
            <button type="button" class="btn btn-warning btn-lg btn-block halo rounded-pill tombol">Adobe XD</button>
            <button type="button" class="btn btn-warning btn-lg btn-block halo rounded-pill tombol">Photography</button>
            <div style="height: 3.125rem;"></div>
        </div>
        <!-- foto skill -->
        <div class="col-lg-6 text-right" id="fotoskill">
            <img class="img-fluid" src="{% static '/images/foto.png' %}" alt="">
        </div>
    </div>
</div>

<!-- FITUR 6 : CONTACT -->
<div id="contact">
    <div style="background-color: #FFD15B;">
        <div style="height: 9.375rem;" ;></div>
        <div class="judulcontact">Contact Me</div>
        <div id="cp" class="contact-me center">
            <div id="s-font">
                <div class="row">
                    <div class="column ">
                        <a href="https://www.linkedin.com/in/fadiyalatifah/">
                            <img src='{% static "/images/linkedln.png" %}' class="contact-img">
                        </a>
                    </div>
                    <div class="column ">
                        <a href="mailto:fadiyalatifah@gmail.com">
                            <img src='{% static "/images/gmail.png" %}' class="contact-img">
                        </a>
                    </div>
                    <div class="column ">
                        <a href="https://www.instagram.com/fadiyalatifah/">
                            <img src='{% static "/images/instagram.png" %}' class="contact-img">
                        </a>
                    </div>
                    <!-- <div class="column ">
                        <a href="https://www.facebook.com/fadiya.latifah">
                            <img src='{% static "/images/fb.png" %}' class="contact-img">
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
        <div style="height: 2.5rem;"></div>
        <div id="footer" class="cp">
            <p>Fadiya Latifah © 2022</p>
        </div>
    </div>
</div>

<!-- FITUR 7 : PPW -->
<div id="ppw">
    <div style="background-color: #000000;">
        <div style="height: 2.5rem;" ;></div>
        <div class="judul" style="color: #FFD15B; font-size: 2rem;">Features for Web design programming course</div>
        
        <div class="sidebar">
            <div class="center">
                <a class="btn btn-warning primary-button" href="/myTop3/">My Top 3</a>
                <a class="btn btn-warning primary-button" href="/story5/">Jadwal</a>
                <a class="btn btn-warning primary-button" href="{{STATIC_URL}}/story6/">Kegiatan</a>                
            </div>
        </div>

        <div style="height: 1rem;"></div>

    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

{% endblock %}