
body {
    background: #FFFBF6;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    margin-right: 0;
    
}

/* navbar */
.nav-item{
    margin-left:0.563rem;
    margin-top: 0.438rem;
    font-size: 1.188rem;
    
}

.container {
    position: relative;
}


.center
{
  /* height:29vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* experience */
.kuning {
    background: url("../images/kuning.png") no-repeat;
    background-size:cover; 
    background-position: center center;

}

/* KELAR EXPERIENCE */
.judul {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 110%;
    font-size: 4.688rem;
    text-align: center;
    color: #000000;
    padding-top: 10.156vw;
    
}
 
  .judulskill {
    font-family: Josefin Sans;
    /* font-weight: bold; */
    font-size: 3rem;
    color: #000000;
    padding-bottom: 2.344vw ;
}


#tambahJadwal {
  padding-left: 23.438vw;
  padding-right: 23.438vw;
  padding-top: 7.813vw;
  padding-bottom: 7.813vw;
}

.aku {
  font-size: 50px  ;
  width: 23.438vw ;
}

.atass {
  padding-bottom: 4.688vw;
  padding-top: 4vw;
}

.details {
  padding-top: 3.906vw;
  padding-left: 3.906vw;
  padding-right: 3.906vw;
}

#listmatkul {
  padding-left: 7.813vw;
  padding-right: 7.813vw;
  justify-content: center;
  align-items: center;
}

@media (max-width: 513px) {
  /* smartphones, iPhone, portrait 480x320 phones */

  

}
